.div1 {
    margin-top: 50px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 750px;
    box-shadow: 0 10px 20px rgba(98, 98, 98, 0.2);
    position: absolute;
    left: 40%;
}

.div-login-register {
    display: flex;
    align-items: center;
}

.img {
    margin-right: 10px;
}