.div1 {
    margin-top: 50px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    width: 450px;
    height: 700px;
    box-shadow: 0 10px 20px rgba(98, 98, 98, 0.2);
    position: absolute;
    left: 40%;
}

.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.container2 {
    width: 95vw;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

.sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 10px;
}


.filter {
    width: 50%;
    padding: 5px;
    border-radius: 10px;
}

.filter2 {
    width: 90%;
    padding: 5px;
    border-radius: 10px;
}

.filter3 {
    width: 70%;
    padding: 5px;
    border-radius: 10px;
}

.product {
    width: 140%;
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin-top: 5px;
}

.product-item {
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.product-item:hover {
    transform: scale(1.02);
}

.sidebar-search {
    padding: 10px;
    width: 100%;
    font-size: 1.2vw;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
}

.sidebar-search:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255);
}

.sidebar-menu {
    background: white;
    border-radius: 10px;
    color: #000;
    font-size: 1.2vw;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    margin-right: 1px;
    display: flex;
    justify-content: center;
}

.sidebar-menu:hover {
    background: rgb(40, 172, 255);
    color: rgb(255, 255, 255);
}

.sidebar-menu-filter {
    background: white;
    border-radius: 10px;
    color: #000;
    font-size: 1.2vw;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 1px;
    margin-bottom: 10px;
    transition: 0.3s;
    margin-right: 5px;
}

.sidebar-menu-filter:hover {
    background: rgb(40, 172, 255);
    color: rgb(255, 255, 255);
}

.background-container-header {
    background: rgb(40, 172, 255);
    padding: 1px;
}

.background-container-menu {
    background: rgb(249, 249, 249);
    padding: 1px;
    border-radius: 10px;
}

.background-container {
    background: rgb(209, 209, 209);
    padding: 1px;
    border-radius: 10px;
}

.product-img {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 10px;
}

.page {
    width: 46vw;
    min-height: 30vw;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.desc-content {
    background: rgb(40, 172, 255);
    display: flex;
}

.desc-detail {
    background: green;
    margin-right: 20px;
}

.desc-img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.btn-control {
    /*background: red;*/
    display: flex;
    justify-content: flex-end;
}

.btn-add-to-card {
    margin-left: 10px;
}

.cartlist {
    /*background: gold;*/
}

.cartlist-item {
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
}

.cartlist-left {
    /*background: green;*/
    display: flex;
}

.cartlist-left img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 5px;
}

.cartlist-right {
    /*background: orchid;*/
    display: flex;
    align-items: center;
}

.btn-con {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.btn-con:hover {
    font-weight: bold;
    background: rgb(40, 172, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btn-text {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-page {
        min-width: 50vw;
        max-width: 70vw;
        width: 50vw;
        min-height: 28vw;
        background: #fff;
        border-radius: 15px;
        padding: 20px;
}

.modaldesc-content {
    /*background: gold;*/
    width: 100%;
    display: flex;
}

.modaldesc-detail {
    /*background: greenyellow;*/
    margin-left: 20px;
}

.modaldese-image {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
}

.cartlist {
    /*background: goldenrod;*/
    width: 100%;
    min-height: 0vw;
    max-height: 15vw;
    overflow:auto; /* แสดง scroll bar ถ้าเนื้อหามีความสูงมากเกินไป */
}

.cartlist-item {
    /*background: blueviolet;*/
    display: flex;
    justify-content: space-between;
}

.cartlist-left {
    /*background: blue;*/
    display: flex;
}

.cartlist-left img {
    width: 5vw;
    height: 5vw;
    object-fit: cover;
    margin-right: 10px;
}

.cartlist-right {
    /*background: hotpink;*/
    display: flex;
    align-items: center;
}

.itemcart {
    height: 3vw;
    display: flex;
    justify-content: end;
    margin-top: 10px;
    width: 60vw;
}

.sidebar-menu-cart {
    height: 3vw;
    background: white;
    border-radius: 10px;
    color: #000;
    font-size: 1.2vw;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: 0.3s;
    margin-right: 5px;
    padding: 10px;
}

.sidebar-menu-cart:hover {
    background: rgb(40, 172, 255);
    transition: 0.3s;
    cursor: pointer;
}

.close-size {
    width: 2.4vw;
    height: 2.4vw;
    display: flex;
 }

.close-size:hover {
    width: 2.6vw;
    height: 2.6vw;
    transition: 0.3s;
}

 .styleh2 {
    display: flex;
    justify-content: space-between;
 }

 .cartcount {
    position: absolute;
    top: 150px;
    right: 290px;
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
.menu-price {
    background: white;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    padding: 1px;
    margin-bottom: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    height: 1.5vw;
}

.img_product {
    width: 12vw;
    height: 13vw;
    border-radius: 10px;
}

.payment {
    border-style: solid;
    width: 50%;
}



@media only screen and (max-width: 768px) {
    .div1 {
        width: 120vw;
        left: 5%;
        height: auto;
        padding: 20px;
    }

    .container1, .container2 {
        width: 100%;
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-right: 0;
    }

    .product {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        width: 205%;
    }

    .product-item {
        width: 100%;
    }

    .sidebar-menu {
        font-size: 3vw;
        padding: 10px;
    }

    .sidebar-search {
        font-size: 3vw;
        padding: 10px;
        width: 170%;
    }

    .itemcart {
        height: 3vw;
        display: flex;
        justify-content: end;
        margin-top: 10px;
        width: 100%;
    }

    .sidebar-menu-cart {
        height: 8vw;   
        background: white;
        border-radius: 10px;
        color: #000;
        font-size: 1.2vw;
        text-decoration: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        padding: 1px;
        margin-bottom: 10px;
        transition: 0.3s;
        margin-right: 5px;
        padding: 10px;
        font-size: 3vw;
    }

    .sidebar-menu-cart:hover {
        width: 10vw;
        height: 8vw;
        background: rgb(40, 172, 255);
        transition: 0.3s;
        cursor: pointer;
    }

    .cartcount {
        position: absolute;
        top: 395px;
        width: 25px;
        height: 25px;
        background: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description-size{
    min-height: 0vw;
    max-height: 15vw;
    overflow: auto;
    }

    .product-img {
        height: 25vw;
    }

    .desc-img {
        width: 90%;
        height: auto;
    }

    .cartlist-left img {
        width: 20vw;
        height: 20vw;
    }
}